:root {
  --primary: #444746;
  --primary-d-10: #141515;
}

html,
body {
  height: 100vh;
  font-size: 16px;
}

#main {
  background-color: var(--primary);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
