:root {
  --color-primary: #e8e8e8;
  --color-secondary: #5f6368;
  --bgcolor-input: #1c1d1e;
}

html,
body {
  height: 100vh;
  font-size: 16px;
}

#wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
}
