#search-results {
  position: absolute;
  top: 79px;
  background-color: var(--primary-d-10);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 25px 0;
  margin: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#search-results li {
  padding: 0px 35px;
  color: white;
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0 0 0;
}

#search-results li:hover {
  background-color: var(--primary);
}

#search-results li:first-child {
  margin-top: 0;
}

#search-results li p {
  margin: 5px 0;
}
